{% extends "base.html" %}
{% block content %}
<br>
    <h2 style="margin-left:19%; font-weight:bold; font-size:25px;" onclick="location='/app'">
        <img src="static/images/mail.png" style="width:45px; height:45px;">&nbsp&nbsp&nbsp받은 지원서
    </h2>
    <section class="py-5"> <!--판짜기-->
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="app" src="" alt="...">
                <div class="justify-content-center" style="padding-left:5%;"><br>
                    <h6 onclick="location='/detail'" style="font-weight:bold;">#도토리 3457
                        <img src="static/images/check.png" style="width:35px;, height:35px;">
                    </h6>
                    <p style="font-weight:bold;">한 줄 소개: 프론트엔드 개발 가능<br>프로젝트 유형: 대외활동<br>역할: 프론트 개발자</p>
                </div>
            </div>
        </div>
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="app" src="" alt="...">
                <div class="justify-content-center" style="padding-left:5%;"><br>
                    <h6 onclick="location='/detail'" style="font-weight:bold;">#도토리 3457
                        <img src="static/images/check.png" style="width:35px;, height:35px;">
                    </h6>
                    <p style="font-weight:bold;">한 줄 소개: 프론트엔드 개발 가능<br>프로젝트 유형: 대외활동<br>역할: 프론트 개발자</p>
                </div>
            </div>
        </div>
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="app" src="" alt="...">
                <div class="justify-content-center" style="padding-left:5%;"><br>
                    <h6 onclick="location='/detail'" style="font-weight:bold;">#도토리 3457
                        <img src="static/images/check.png" style="width:35px;, height:35px;">
                    </h6>
                    <p style="font-weight:bold;">한 줄 소개: 프론트엔드 개발 가능<br>프로젝트 유형: 대외활동<br>역할: 프론트 개발자</p>
                </div>
            </div>
        </div>
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="app" src="" alt="...">
                <div class="justify-content-center" style="padding-left:5%;"><br>
                    <h6 onclick="location='/detail'" style="font-weight:bold;">#도토리 3457
                        <img src="static/images/check.png" style="width:35px;, height:35px;">
                    </h6>
                    <p style="font-weight:bold;">한 줄 소개: 프론트엔드 개발 가능<br>프로젝트 유형: 대외활동<br>역할: 프론트 개발자</p>
                </div>
            </div>
        </div>
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="app" src="" alt="...">
                <div class="justify-content-center" style="padding-left:5%;"><br>
                    <h6 onclick="location='/detail'" style="font-weight:bold;">#도토리 3457
                        <img src="static/images/check.png" style="width:35px;, height:35px;">
                    </h6>
                    <p style="font-weight:bold;">한 줄 소개: 프론트엔드 개발 가능<br>프로젝트 유형: 대외활동<br>역할: 프론트 개발자</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}