{% load static %}
<!DOCTYPE HTML>
<html lang="kr-gb">
    <head>
        <meta charset="utf-8">
        <title>링커</title>	
        <!--Styles-->
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="stylesheet" type="text/css" href="static/login.css">
        <link rel="stylesheet" type="text/css" href="static/profile.css">
        <script src="{% static 'jquery-3.6.0.js' %}"></script>
        <script src="{% static 'script.js' %}"></script>
    </head>

    <body>
        <!--Start Logo -->
        <nav class="navbar">
        <img 
            src="static/images/linker-logo.png" alt="logo here"
            style="position:absolute; width:100px; height:90px; top:-0.8em; left: 1em; background-color: none;"
            onclick="location='/main'">
        <div class="navcontainer px-4 px-lg-5">
        <span style="margin-right:20px;"><a style="font-size:13px;" href="/profile">내 프로필 등록하기</a></span>
        <span style="margin-right:20px;"><a style="font-size:13px;" href="/login">로그인</a></span>
        <span style="margin-right:20px;"><a style="font-size:13px;" href="/signup">회원가입</a></span>
        <img onclick="location='/mypage'" src="static/images/profile.png" style="position:relative; height:30px; width:30px;">
        </div>
        </nav>
        <!--End Logo--> 
        
        <!--상단바-->
        {% block content %}
        {% endblock %}
    </body>
</html>