{% extends "base.html" %}
{% block content %}
<div class="form1">
    <p class="list">채팅 목록</p>
    <p class="all">모두<br>읽기</p>
    <img class="return" src="static/images/return.png"/>
    <img class="alarm" src="static/images/alarm.png"/>
    <img class="settings" src="static/images/settings.png"/>
</div>
<section class="py-6">
    <div class="container2"> <!--판 위에 하나 더-->
        <div class="row"> <!--도화지-->
            <img class="chat" src="" alt="...">
            <div class="justify-content-center" style="padding-left:5%;"><br>
                <span class="date">2021-06-28</span>
                <h6 onclick="location='/detail'" style="font-weight:bold; color: #5193F1;">공모전</h6>
                <p style="font-weight:bold; color: #000000;">구체적인 사안은 앞으로 3일 정도...<br>000</p>
            </div>
        </div>
    </div>
    <hr class="line">
    <div class="container2"> <!--판 위에 하나 더-->
        <div class="row"> <!--도화지-->
            <img class="chat" src="" alt="...">
            <div class="justify-content-center" style="padding-left:5%;"><br>
                <span class="date">2021-05-29</span>
                <h6 onclick="location='/detail'" style="font-weight:bold; color: #5193F1;">스타트업</h6>
                <p style="font-weight:bold; color: #000000;">네 알겠습니다!<br>000</p>
            </div>
        </div>
    </div>
    <hr class="line">
    <div class="container2"> <!--판 위에 하나 더-->
        <div class="row"> <!--도화지-->
            <img class="chat" src="" alt="...">
            <div class="justify-content-center" style="padding-left:5%;"><br>
                <span class="date">2021-04-12</span>
                <h6 onclick="location='/detail'" style="font-weight:bold; color: #5193F1;">공모전</h6>
                <p style="font-weight:bold; color: #000000;">[사진]<br>000</p>
            </div>
        </div>
    </div>
    <hr class="line">
</section>
{% endblock %}