{% extends "base.html" %}
{% block content %}
    <div style="padding-top:2%; padding-bottom:4%; padding-left:15%;">
        <div style="display:flex; align-items: center;">
            <img src="static/images/profile.png" style="width:50px; height:50px;">
            <div style="padding-left:2%;">
                <h3 style="font-weight:bold;">마이 페이지 < 고객센터 < 실시간 채팅 상담</h3>
            </div>
        </div>
    <div style="padding-left:5%; padding-top:2%; width:75%;">
        <div style="padding:15px; text-align:center; border-bottom: solid #817f7f 2px;">
            <p style="font-size:25px;">상담 시작 후 일정시간 응답이 없을 경우, 상담이 자동 종료됩니다.</p>
            <p style="font-size:25px;">빠른 검토 후 상담 도와드리겠습니다.</p>
        </div>
    </div>
    <div style="padding-left:5%; padding-top:3%; width:75%; display:flex; justify-content: center;">
        <textarea type="text" class="consult input_form6" placeholder="채팅을 남겨주세요. 
(작성 내용에 욕설, 성희롱 등의 내용이 포함된 경우 관련 법령에 따라 조치될 수 있습니다.)" onkeyup="countingWords()"></textarea>
    </div>
    <div style="padding-left:5%; padding-top:3%; width:75%; display:flex; justify-content: center;">
    <input style="width:150px; height:30px; background:#837e7e; color:#fff;"
    type="button" value="취소">
    <input style="width:150px; height:30px; background:#5193F1;; color:#fff;"
    type="button" value="확인">
    </div>
{% endblock %}