{% extends "base.html" %}
{% block content %}
    <br>
    <h2 style="margin-left:19%; font-weight:bold;" onclick="location='/findteam'">
        <img src="static/images/group.png" style="width:45px; height:45px;">&nbsp&nbsp&nbsp팀 원  찾 기
    </h2>
    <br>
    <p style="margin-left:25%; font-weight:bold; margin-bottom: 0;">팀원 > 개발자</p>
    <p style="margin-left:25%; font-weight:bold; margin-bottom: 0;">13명의 개발자</p>
    <p align="right" style="padding-right:20%; font-weight:bold; margin-bottom:0;">▼ 리뷰순</p>
    <section class="py-5"> <!--판짜기-->
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="img" src="" alt="...">
                <div class="justify-content-center" style="padding-left:5%;"><br>
                    <h6 onclick="location='/detail'" style="font-weight:bold;">#도토리 3457<img src="static/images/check.png" style="width:35px;, height:35px;"></h6>
                    <p style="font-weight:bold;">다룰 줄 아는 언어, 자신의 특징<br>"팀원의 한 마디"</p>
                </div>
            </div>
        </div>
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="img" src="" alt="...">
                <div class="justify-content-center" style="padding-left:5%;"><br>
                    <h6 style="font-weight:bold;">#도토리 2313&nbsp&nbsp<img src="static/images/circle.png" style="width:20px;, height:20px;"></h6>
                    <p style="font-weight:bold;">인증되지 않은 회원입니다.</p>
                </div>
            </div>
        </div>
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="img" src="" alt="...">
                <div class="justify-content-center" style="padding-left:5%;"><br>
                    <h6 style="font-weight:bold;">#개구리 2217<img src="static/images/check.png" style="width:35px;, height:35px;"></h6>
                    <p style="font-weight:bold;">다룰 줄 아는 언어, 자신의 특징<br>"팀원의 한 마디"</p>
                </div>
            </div>
        </div>
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="img" src="" alt="...">
                <div class="justify-content-center" style="padding-left:5%;"><br>
                    <h6 style="font-weight:bold;">#호랑이 2133<img src="static/images/check.png" style="width:35px;, height:35px;"></h6>
                    <p style="font-weight:bold;">다룰 줄 아는 언어, 자신의 특징<br>"팀원의 한 마디"</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}