{% extends "base.html" %}
{% block content %}
    <br>
    <h2>팀원 찾기</h2>
    <br>
    <p>팀원>개발자</p>
    <p>13명의 개발자</p>
    <section class="py-5"> <!--판짜기-->
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="img" src="" alt="...">
                <div class="justify-content-center"><br>
                    <h6 style="font-weight:bold;">#도토리 3457</h6>
                    <p style="font-weight:bold;">다룰 줄 아는 언어, 자신의 특징<br>"팀원의 한 마디</p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5"> <!--판짜기-->
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="img" src="" alt="...">
                <div class="justify-content-center"><br>
                    <h6 style="font-weight:bold;">#도토리 2313</h6>
                    <p style="font-weight:bold;">인증되지 않은 회원입니다.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5"> <!--판짜기-->
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="img" src="" alt="...">
                <div class="justify-content-center"><br>
                    <h6 style="font-weight:bold;">#개구리 2217</h6>
                    <p style="font-weight:bold;">다룰 줄 아는 언어, 자신의 특징<br>"팀원의 한 마디</p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5"> <!--판짜기-->
        <div class="container"> <!--판 위에 하나 더-->
            <div class="row"> <!--도화지-->
                <img class="img" src="" alt="...">
                <div class="justify-content-center"><br>
                    <h6 style="font-weight:bold;">#호랑이 2133</h6>
                    <p style="font-weight:bold;">다룰 줄 아는 언어, 자신의 특징<br>"팀원의 한 마디</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}