{% extends "base.html" %}
{% block content %}
    <br>
    <h2 style="margin-left:19%; font-weight:bold;" onclick="location='/findprj'">
        <img src="static/images/search-file.png" style="width:45px; height:45px;">&nbsp&nbsp&nbsp프로젝트 찾기
    </h2>
    <section class="py-5"> <!--판짜기-->
        <div class="container" style="padding-left:0;"> <!--판 위에 하나 더-->
            <div class="row" style="flex-wrap:wrap; justify-content: space-between;">
                <div class="prjimg" onclick="location='/prjdetail'">
                    <p class="findprjname">
                        (공모전) 한관광 공모전 같이 나갈 사람 구함
                    </p><br><br>
                    <div class="row findprjcontent">
                        <a>팀장명 / 팀명</a>
                        <a>배우 2/2명<br>편집 1/2명<br>촬영 0/1명</a>    
                    </div>
                </div>
                <div class="prjimg">
                    <p class="findprjname">
                        (동아리) 중앙 동아리 뮤지컬 배우 구함
                    </p><br><br>
                    <div class="row findprjcontent">
                        <a>팀장명 / 팀명</a>
                        <a>배우 1/4명</a>    
                    </div>
                </div>
                <div class="prjimg">
                    <p class="findprjname">
                        (교내) 꿈도전 장학 멤버 구해요
                    </p><br><br>
                    <div class="row findprjcontent">
                        <a>팀장명 / 팀명</a>
                        <a>멤버 0/4명</a>    
                    </div>
                </div>
                <div class="prjimg end">
                    <p class="findprjname">
                        (스타트업) 사업 아이템 구상 멤버 구함
                    </p><br><br>
                    <div class="row findprjcontent">
                        <a>팀장명 / 팀명</a>
                        <a>멤버 2/2명</a>    
                    </div>
                </div>
                <div class="prjimg">
                    <p class="findprjname">
                        (교내) 창업동아리 멤버 구해요
                    </p><br><br>
                    <div class="row findprjcontent">
                        <a>팀장명 / 팀명</a>
                        <a>멤버 2/4명</a>    
                    </div>
                </div>
                <div class="prjimg">
                    <p class="findprjname">
                        (동아리) 마그놀리아에서 42기 부원을 모집합니다
                    </p><br><br>
                    <div class="row findprjcontent">
                        <a>팀장명 / 팀명</a>
                        <a>멤버 2/4명</a>    
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}