{% extends "base.html" %}
{% block content %}
    <br>
    <br>
    <h2 style="margin-left:15%; font-weight:bold;">
    DCF 대학생광고대상</h2>
        <div style="display:flex; padding-top:5%; padding-left:22%">
            <img src="static/images/gongmo.png" style="height:500px; width:400px;">
            <div style="display:flex; padding-left:10%; flex-direction: column; justify-content: center;">
            <p style="font-size:25px; font-weight:bold;">구분 : 공모전<광고 공모전</p><br>
            <p style="font-size:25px; font-weight:bold;">온라인 접수 : 7.19(월) ~ 7.28(수)</p><br>
            <p style="font-size:25px; font-weight:bold;">총 상금 : 2400만원</p><br>
            <p style="font-size:25px; font-weight:bold;">사이트 바로가기 : dca.daehong.com</p><br><br>
            <input style="background: #ffffff; border-radius: 15px; color: #5193F1; font-weight: bold; border: solid; height: 50px;" type="button" value="팀원으로 참여하고 싶어요"><br>
            <input style="background: #5193F1; border-radius: 15px; color: #ffffff; font-weight: bold; border: solid; height: 50px;" type="button" value="팀원을 모집하고 싶어요">
            </div>
        </div>
{% endblock %}