{% extends "base.html" %}
{% block content %}
    <!--입력창-->
    
    <div class="subck"></div>
    <div class="centered2">로 그 인</div>

    <form class="loginForm" name="login" method="POST" action="">
      {% csrf_token %}
        <div>
          <input class="input_form" name="id" type="text" placeholder="  example@linker.com">
        </div>
        <div class="form_text_alert_padding">
          <div id="alert_id" class="form_text_alert"></div>
        </div><br>
        <div>
          <input class="input_form" name="password" type="text" placeholder="  비밀번호를 입력해주세요.">
        </div>
        <div class="form_text_alert_padding">
          <div id="alert_pwd" class="form_text_alert"></div>
        </div>
        <br><br><br><br>
        <div>
        <a href="#비밀번호찾기">비밀번호 찾기</a>
        </div>
        <input type="submit" class="btn" value="이메일 로그인">
        <input type="button" class="anbtn" value="계정이 없으신가요?" onclick="location='/signup'">
    </form>
{% endblock %}