{% extends "base.html" %}
{% block content %}
    <span class='s5'><a href="/login">로그인</a></span>
    <!--입력창-->
    
    <div class="subck">
    <div class="subtitle">로그인</div>

    <form class="loginForm" name="login" method="POST" action="">
      {% csrf_token %}
        <div>
        <p class="form_item_name" style="text-align:left">이메일</p>
          <input class="input_form" name="id" type="text" placeholder="example@linker.com">
        </div>
        <div class="form_text_alert_padding">
          <div id="alert_id" class="form_text_alert"></div>
        </div>
        <div>
        <p class="form_item_name" style="text-align:left">비밀번호</p>
          <input class="input_form" name="password" type="text" placeholder="비밀번호를 입력해주세요.">
        </div>
        <div class="form_text_alert_padding">
          <div id="alert_pwd" class="form_text_alert"></div>
        </div>
        <br><br><br>
        <a style="margin-left:10%; font-weight:bold;" href="/findpw">비밀번호 찾기</a><br><br>
        <input type="submit" class="btn" value="이메일 로그인">
        <input type="button" class="anbtn" value="계정이 없으신가요?" onclick="location='/signup'">
    </form>
    </div>
{% endblock %}