{% extends "base.html" %}
{% block content %}
    <span class='s5'><a href="/login">로그인</a></span>
    
    <!--main-->
    <body>
        <div class="joinForm">
            <div class="row">
                <div class="col-md-5 mx-auto">
                <div id="first">
                    <div class="myform form ">
                    <form action="" method="post" name="login">
                            <div class="form-group">
                                <label for="exampleInputEmail1">이메일</label>
                                <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@linker.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">비밀번호</label>
                                <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="비밀번호를 입력해주세요.">
                            </div>
                            <div class="form-group">
                                <a class="text-center" href="#">비밀번호 찾기</a>
                            </div>
                            <div class="col-md-12 text-center ">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">이메일로 로그인</button>
                            </div>
                            <div class="form-group">
                                <a class="text-center" href="signup" id="signup">계정이 없으신가요?</a>
                            </div>
    </div>
{% endblock %}