{% extends "base.html" %}
{% block content %}
    <!--Main-->
        <div class="centered">연결이 필요한 곳 어디든 </div>
        <div class="choose1">
        <a href="/findprj">프로젝트 찾기</a>
        <b style="text-align: center">|</b>
        <a href="/findteam">팀원 찾기</a>
        </div>

    <!--검색창-->
        <div id="button">
            <div class="search">
                <button id="search_btn" img src="search.png" class="searchbtn"></button>
                <input type="text" class="searchtxt" placeholder="개발자">
            </div>
        </div>
        <div class="choose2">
        <a href="/gongmo">공모전</a>&nbsp&nbsp&nbsp&nbsp
        <a href="#팀원찾기">대외활동</a>&nbsp&nbsp&nbsp&nbsp
        <a href="#팀원찾기">동아리</a>&nbsp&nbsp&nbsp&nbsp
        <a href="#팀원찾기">스터디</a>&nbsp&nbsp&nbsp&nbsp
        <a href="#팀원찾기">교내 장학 프로그램</a>&nbsp&nbsp&nbsp&nbsp
        <a href="#팀원찾기">교외 장학 프로그램</a>&nbsp&nbsp&nbsp&nbsp
        <a href="#팀원찾기">스타트업</a>
        </div>
{% endblock %}