{% extends "base.html" %}
{% block content %}
    <div style="padding-top:2%; padding-bottom:4%; padding-left:15%;">
    <div style="display:flex; align-items: center;">
    <img src="static/images/profile.png" style="width:50px; height:50px;">
    <div style="padding-left:2%;">
    <h3 style="font-weight:bold;">마이 페이지</h3>
    </div>
    </div>
    <div style="padding-left:10%; padding-top:6%;">
    <p style="font-size:28px; font-weight:bold; margin-bottom: 0;">내 프로필 수정하기</p><br><br><br>
    <div style="display:flex; align-items: center;">
    <p style="font-size:28px; font-weight:bold; margin-bottom: 0;">메세지</p>
    <div style="padding-left:2%;">
    <input style="background: #5193F1; border-radius: 10px; color: #ffffff; font-weight: bold; border: solid; height: 40px; width:40px;" type="button" value="7">
    </div>
    </div><br><br><br>
    <p style="font-size:28px; font-weight:bold; margin-bottom: 0;">나의 지원 내역</p><br><br><br>
    <p style="font-size:28px; font-weight:bold; margin-bottom: 0;">받은 지원서</p><br><br><br>
    <p style="font-size:28px; font-weight:bold; margin-bottom: 0;">진행 중인 프로젝트</p><br><br><br>
    <p style="font-size:28px; font-weight:bold; margin-bottom: 0;">고객센터</p>
    </div>
    </div>
{% endblock %}