{% extends "base.html" %}
{% block content %}
    <br>
    <h2 style="margin-left:19%; font-weight:bold;" onclick="location='/findprj'">
    <img src="static/images/search-file.png" style="width:45px; height:45px;">&nbsp&nbsp&nbsp프로젝트 찾기
    </h2>
    <br><br>
    <section class="py-5">
        <div class="container" style="padding-left:0;">
            <div class="row" style="align-items:center;">
                <div class="prjimg gray textcenter" style="margin-bottom:0; height:230px; width:370px; padding:30px;">
                    <a style="font-size:28px;">(공모전)<br> 한관공 공모전 같이 나갈 사람 구합니다.</a>
                </div>
                <div class="justify-content-center" style="padding-left:5%;">
                    <h5 style="font-weight:bold;">(공모전) 한관공 공모전 같이 나갈 사람 구합니다.</h5><br>
                    <p style="font-size:16px; font-weight:bold;">
                        모집기간: ~5월 18일 화요일
                    </p>
                    <p style="font-size:16px; font-weight:bold;">
                        모집인원: 촬영 1명, 편집 1/2명, 배우 2/2명
                    </p>
                    <p style="font-size:16px; font-weight:bold;">
                        팀장: 도토리 7502
                    </p>
                    <div>
                        <a style="font-size:16px; font-weight:bold; color: #727272;">
                        팀명: 미정
                        </a>
                        <input type="button" class="detailbtn" style="position:absolute; margin-left:10%;"value="참여하기" onclick="participate()">
                        <script>
                            function participate(){
                                if(confirm("정말 프로젝트에 참여 하시겠습니까?"))
                                {
                                alert("프로젝트 신청이 완료되었습니다! 신청을 완료한 프로젝트의 목록은 마이페이지에서 확인 가능합니다.");
                                location.href = "main";
                                } else {
                                return;
                                    }
                                } 
                        </script>
                    </div>         
                </div>
            </div><br><br><br>
            <div class="tabs">
                <input id="all" type="radio" name="tab_item" checked>
                <label class="tab_item" for="all">소개</label>
                <input id="programming" type="radio" name="tab_item">
                <label class="tab_item" for="programming">팀장</label>
                <input id="design" type="radio" name="tab_item">
                <label class="tab_item" for="design">Q&A</label>
                
                <div class="tab_content" id="all_content">
                        (팀장이 작성하게 되는 정보)<br>
                        <a>사진파일</a>
                </div>
                <div class="tab_content" id="programming_content">
                    <a>팀장 소개</a>
                    <br><br>
                    <a>팀장</a>
                    <br><br>
                    다양한 공모전 경험을 통해 3차례의 수상을 경험한 팀장 000입니다.
                    뛰어난 리더십과 수행능력을 통해 팀을 이끌어갑니다.
                    <br><br>
                    <a>& 수상 이력</a>
                    <br><br>
                    공모전<br>
                    <li>인천공항공사 000 공모전 최우수상</li>
                    <li>00 공모전 우수상</li>
                    <li>대한민국 관광공모전 사진 부문 국무총리상</li>
                    <br><br>
                    스타트업<br>
                    <li>000 스타트업 참여</li>
                    <br><br>
                    <a>& 보유 자격증</a>
                    <br><br>
                    <li>JLPT 2급</li>
                    <li>TOEIC 890</li>
                    <li>영상디자인00 0급</li>
                </div>
                <div class="tab_content" id="design_content">
                    <a>Q&A</a><br><br><br>
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width:8%;">번호</th>
                            <th style="width:45%;">제목</th>
                            <th style="width:12%;">작성자</th>
                            <th style="width:12%;">등록일</th>
                            <th style="width:10%;">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>공지</td>
                            <td>Q&A 작성 규정</td>
                            <td>링커 매니저</td>
                            <td>2021-02-18</td>
                            <td>234</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>지원자격 문의</td>
                            <td>개구리 2217</td>
                            <td>2021-05-27</td>
                            <td>16</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}