{% extends "base.html" %}
{% block content %}
    <span class='s6'><a href="/profile">내 프로필 등록하기</a></span>
    
    <!--입력창-->
    
    <div class="subck"></div>
    <div class="centered2">2. 나의 역할을 골라주세요.</div>

    <form action="doJoin" method="POST" class="profileForm" onsubmit="DoJoinForm__submit(this); return false;">
        <div class="profile">
        <input type="checkbox" id="cb1">
        <label for="cb1">디자이너</label><br><br>
        <input type="checkbox" id="cb2">
        <label for="cb2">개발자</label><br><br>
        <input type="checkbox" id="cb3">
        <label for="cb3">마케터</label><br><br>
        <input type="checkbox" id="cb4">
        <label for="cb4">기획자</label><br><br>
        <input type="checkbox" id="cb5">
        <label for="cb5">통역 및 번역</label><br><br>
        <input type="checkbox" id="cb6">
        <label for="cb6">기타(상세 프로필 기입)</label>
        </div>
    </form>
    <input type="button" class="btn2a" value="이전" onClick="history.go(-1)">
    <input type="submit" class="btna" value="다음" onClick="location='q3'">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:12.5%"></div>
    </div>
    
{% endblock %}