{% extends "base.html" %}
{% block content %}
    
    <!--입력창-->
    
    <div class="subck">
    <div class="subtitle">&nbsp&nbsp&nbsp3. 성별</div>

    <form action="doJoin" method="POST" class="profileForm" onsubmit="DoJoinForm__submit(this); return false;">
        <div class="genprofile">
        <input type="checkbox" id="cb1">
        <label for="cb1">&nbsp&nbsp&nbsp남성</label><br><br>
        <input type="checkbox" id="cb2">
        <label for="cb2">&nbsp&nbsp&nbsp여성</label>
        </div>
    </form>
        <div class="btntool2">
        <input type="button" class="btn2a" value="이전" onClick="history.go(-1)">
        <input type="submit" class="btna" value="다음" onClick="location='/q4'">
        <br><br><br><br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:37.5%"></div>
        </div>
    </div>
{% endblock %}