{% extends "base.html" %}
{% block content %}
    
    <!--입력창-->
    
    <div class="subck">
    <div class="subtitle">&nbsp&nbsp&nbsp4. 나이</div>

    <form action="doJoin" method="POST" class="ageForm" onsubmit="DoJoinForm__submit(this); return false;">
        <div class="ageprofile">
        <input type="text" class="input_form3" placeholder="나이를 입력해주세요.">
        </div>
    </form>
        <div class="btntool3">
        <input type="button" class="btn2a" value="이전" onClick="history.go(-1)">
        <input type="submit" class="btna" value="다음" onClick="location='/q5'">
        <br><br><br><br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
        </div>
    </div>
{% endblock %}