{% extends "base.html" %}
{% block content %}
    <span class='s6'><a href="/profile">내 프로필 등록하기</a></span>
    
    <!--입력창-->
    
    <div class="subck">
    <div class="subtitle">&nbsp&nbsp&nbsp5-2. 학과</div>

    <form action="doJoin" method="POST" class="ageForm" onsubmit="DoJoinForm__submit(this); return false;">
        <input type="text" class="input_form4" placeholder="학과를 입력해주세요.">
    </form>
        <div class="btntool3">
        <input type="button" class="btn2a" value="이전" onClick="history.go(-1)">
        <input type="submit" class="btna" value="다음" onClick="location='q7'">
        <br><br><br><br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:75%"></div>
        </div>
    </div>
{% endblock %}