{% extends "base.html" %}
{% block content %}
    <!--입력창-->
    
    <div class="subck">
    <div class="subtitle">&nbsp&nbsp&nbsp6. 관심분야</div>

    <form action="" method="POST" class="profileForm">
        <div class="profile">
            <input type="checkbox" id="cb1">
            <label for="cb1">&nbsp&nbsp&nbsp자격증</label><br><br>
            <input type="checkbox" id="cb2">
            <label for="cb2">&nbsp&nbsp&nbsp예술</label><br><br>
            <input type="checkbox" id="cb3">
            <label for="cb3">&nbsp&nbsp&nbsp경영/경제</label><br><br>
            <input type="checkbox" id="cb4">
            <label for="cb4">&nbsp&nbsp&nbsp교육</label><br><br>
            <input type="checkbox" id="cb5">
            <label for="cb5">&nbsp&nbsp&nbsp프로그래밍</label><br><br>
            <input type="checkbox" id="cb6">
            <label for="cb6">&nbsp&nbsp&nbsp포토샵, 일러스트레이터</label><br><br>
            <input type="checkbox" id="cb7">
            <label for="cb7">&nbsp&nbsp&nbsp영상 편집</label><br><br>
            <input type="checkbox" id="cb8">
            <label for="cb8">&nbsp&nbsp&nbsp스타트업</label><br><br>
            <input type="checkbox" id="cb9">
            <label for="cb9">&nbsp&nbsp&nbsp기타</label>
            <input type="text" class="input_form2" placeholder="직접 입력"><br><br>
        </div>
    </form>
    <div class="btntool">
        <p style="font-weight:bold;"> *복수선택 가능합니다 </p>
        <input type="button" class="btn2a" value="이전" onClick="history.go(-1)">
        <input type="submit" class="btna" value="다음" onClick="location='/q8'">
        <br><br><br><br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:87.5%"></div>
        </div>
    </div>
    </div>
{% endblock %}