{% extends "base.html" %}
{% block content %}
    <span class='s6'><a href="/profile">내 프로필 등록하기</a></span>
    
    <!--입력창-->
    
    <div class="subck">
    <div class="subtitle">&nbsp&nbsp&nbsp7. 자유롭게 본인을 소개해주세요.</div>

    <form action="doJoin" method="POST" class="interForm" onsubmit="DoJoinForm__submit(this); return false;">
    <div class="interprofile">
        <textarea type="text" class="input_form5" placeholder="자기소개, 프로젝트 참여 이력 등을 자유롭게 입력하세요.(최소 20자)" rows="10" cols="150" onkeyup="countingWords()"></textarea>
    </div>
    <script>
        function countingWords(){
            document.getElemetByld
        }
    </script>

    </form>
        <div class="btntool3">
        <input type="submit" class="btndone" value="등록 완료하기" onClick="order()">
        <script>
        function order(){
            alert("내 프로필 등록이 완료 되었습니다.");
            window.location.href = "main";
        }
        </script>
        <br><br><br><br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
        </div>
    </div>
{% endblock %}