{% extends "base.html" %}
{% block content %}
    <div style="padding-top:3%; padding-bottom:4%; padding-left:22%;">
    <div style="display:flex; align-items: center;">
    <img src="static/images/reviseimg.png">
    <div style="padding-left:2%;">
        <h3 style="font-weight:bold;">김링커</h3>
        <br>
        <a style="font-size:18px;">여자, 21세</a><br><br>
        <a style="font-size:18px;">경희대학교 관광학과</a>
    </div>
    <div style="padding-left:20%;">
        <div>
            <h3 style="font-weight:bold;">지원분야</h3>
            <a style="font-size:18px;">기획자</a><br><br>
            <h3 style="font-weight:bold;">경력사항</h3>
            <a style="font-size:18px;">서울시 공공디자인 공모전 기획 참여,<br> 교내 아이디어 공모전 수상</a>
        </div>
    </div>
    </div>
    <div style="display:flex; padding-top:3%; align-items: center;">
    <h4 style="font-weight:bold; margin-bottom: 0; padding: 10px;">이력서 제목</h4>
    <div style="padding-left:2%;">
    <input type="text" style="border:solid 2px; padding: 10px; font-weight: bold; border-radius:10px; width:680px;"
    placeholder="본인을 소개하세요(최소 5자 이상)">
    </div>
    </div>
    <br><br>
    <div style="display:flex; flex-direction: column; width: 830px;">
    <h4 style="font-weight:bold; margin-bottom: 0; padding: 10px;">자기소개서</h4>
    <br>
    <textarea type="text" class="reviseself" placeholder="자기소개, 프로젝트 참여 이력 등을 자유롭게 입력하세요.(최소 20자)" onkeyup="countingWords()"></textarea>
    <br>
    <div>
    <input type="button" style="width:200px; height: 45px; background: #5193F1; border-radius: 10px;
    color:white; font-weight: bold; float:right;" value="지원서 등록하기">
    </div>
    </div>
    </div>
{% endblock %}