{% extends "base.html" %}
{% block content %}
    <br>
    <h2 style="margin-left:19%; font-weight:bold;" onclick="location='/findteam'">
    <img src="static/images/group.png" style="width:45px; height:45px;">&nbsp&nbsp&nbsp팀 원  찾 기
    </h2>
    <br><br>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <img class="img2" src="" alt="...">
                <div class="justify-content-center" style="padding-left:10%;">
                    <h3 style="font-weight:bold;">#도토리 3457<img src="static/images/check.png" style="width:35px;, height:35px;"></h3><br>
                    <p style="font-size:18px; font-weight:bold;">다룰 줄 아는 언어, 자신의 특징<br><br>희망하는 프로젝트<br><br>나이, 성별, 활동 지역</p>
                    <div>
                        <input type="button" class="detailbtn" value="1:1 채팅하기" onclick="location='/chat'">
                        <input type="button" class="detailbtn2" value="팀원으로 함께하기">
                    </div>    
                </div>
            </div><br><br><br><br>
            <div class="col">
                <p style="font-size:18px; font-weight:bold;">링커에서 팀원으로 함께한 프로젝트 이력</p><br>
                <div class = "row">
                    <img class="img" src="" alt="...">&emsp;&emsp;
                    <img class="img" src="" alt="...">&emsp;&emsp;
                    <img class="img" src="" alt="...">&emsp;&emsp;
                    <img class="img" src="" alt="...">
                </div><br><br><br>
                <p style="font-size:18px; font-weight:bold;">팀원들의 한 마디</p>
                <p style="font-size:14px; font-weight:bold; margin-bottom:0;">"너무 성실하게 잘 참여해주셨습니다!" -#호랑이 2112</p>
                <p style="font-size:14px; font-weight:bold; margin-bottom:0;">"시간 약속을 잘 지켜요" -#고라니 7832</p>
                <br><br>
                <p style="font-size:18px; font-weight:bold;">태그</p>
                <p style="font-size:14px; font-weight:bold; margin-bottom:0;">#공모전 #개발자 #개자이너</p>
            </div>
        </div>
    </section>
{% endblock %}