  
@font-face {
  font-family: 'Do Hyeon';
  src: url('NanumGothic-Regular.ttf') format("truetype");
  font-weight: normal;
  /* font-style: normal;  */
}

p {
	font-family: "Do Hyeon";
  font-weight: bold;
	font-size:14px;
	line-height: 25px;
	color: #727272;
	font-weight: 400;
}

a {
  font-weight: bold;
	color:#4D4D4D;
}

.s1{
    background-color: none;
    position: absolute;
    top:25px;
    right:200px;
    font-size:13px;
}
.s2{
    background-color: none;
    position: absolute;
    top:25px;
    right:170px;
    font-size:13px;
}
.s3{
    background-color: none;
    position: absolute;
    top:18px;
    right:150px;
    font-size:13px;
}

.s4{
    background-color: none;
    position: absolute;
    top:25px;
    right:40px;
    font-weight: bold;
    font-size:13px;
}

.s5{
  background-color: none;
  position: absolute;
  top:25px;
  right:115px;
  font-weight: bold;
  font-size:13px;
}

.s6{
  background-color: none;
  position: absolute;
  top:25px;
  right:180px;
  font-weight: bold;
  font-size:13px;
}


/*-----------------------------------------------------------------*/
/* 메인화면 글자 조정
/*-----------------------------------------------------------------*/

.centered {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #4D4D4D;
  position:absolute;
  width: 500px;
  left: 48%;
  margin-left:-225px;
  top:150px;  
}

.centered2 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #4D4D4D;
  position:absolute;
  width: 500px;
  left: 50%;
  margin-left:-225px;
  top:150px;
}

.subtitle {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #4D4D4D;
  position:absolute;
  width: 410px;
  left: 39%;
  top:50px;
}

.subtitle2 {
  text-align: center;
  font-size: 27px;
  color: #4D4D4D;
  position:absolute;
  /* width: 500px; */
  left: 40%;
  top:200px;
  font-weight: bold;
}

.conbtn {
    position:absolute;
    /* width: 500px; */
    left: 40%;
    margin-left: 2%;
    top:350px;

}

.findpwtitle{
  text-align: left;
  font-size: 38px;
  font-weight: bold;
  color: #4D4D4D;
  position:absolute;
  width: auto;
  left: 7%;
  top:150px;
}

.findpwsubtitle{
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  color: #4D4D4D;
  position:relative;
  width: auto;
  left: 7%;
  top: 200px;
}

.findpwbtn {
  /* position:relative; */
  width:200%;
  height: 45px;
  background: #5193F1;
  border-radius: 15px;
  color:white;
  font-weight: bold;
  left:7%;
}

.findpwinput {
  /* position:relative; */
  padding:15px;
  margin-bottom: 3%;
  width:200%;
  height: 45px;
  background: #ffffff;
  border:solid;
  border-color: #5193F1;
  border-radius: 15px;
  color:#5193F1;
  font-weight: bold;
  left:7%;
}

.choose1 {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: #4D4D4D;
  position: absolute;
  top: 300px;
  left: 49%;
  margin-left:-100px;
}

.choose2 {
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  color: #4D4D4D;
  position: absolute;
  width: 680px;
  top: 420px;
  left:50%;
  margin-left:-350px;
}

.search {
    position: absolute;
    top: 350px;
    left: 50%;
    width: 500px;
    height: 48px;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius: 15px;
    margin-right:5px;
    border: 6px solid #5193F1;
    margin-left:-260px;
}

.searchtxt {
  margin-top: 8px;
  padding-left: 20px;
  font-weight: bold;
  color: #5193F1;
}

.searchbtn {
  background: url( "images/search.png" ) no-repeat;
  margin-top: 1.5%;
  margin-right: 3%;
  background-size: 20px;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


/* body{
    font-family: "Do Hyeon";
    font-weight: bold;
    font-size: 13px
    } */


input{
    font-size: 20px;
    width: 400px;
    border: none;
    outline: none;
    float: left;
}
.form_item_name{
  margin-left: 40px;
  margin-top: 20px;
  font-family: "Do Hyeon";
  font-size:14px;
  line-height: 0;
  color: #727272;
  font-weight: bold;
}

.input_form{
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 3px solid #5193F1;
  margin-top: 0%;
  margin-left: 10%;
  width:320px;
  height: 50px;
}

.input_form2{
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #5193F1;
  margin-top: 10%;
  margin-left: 4.5%;
  width: 260px;
  height: 40px;
  border-radius: 5px;
}

.input_form3{
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 3px solid #5193F1;
  margin-top: 2.5%;
  margin-left: -5%;
  width:320px;
  height: 50px;
}

.input_form4{
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 3px solid #5193F1;
  margin-top: 10.5%;
  margin-left: 4.5%;
  width:320px;
  height: 50px;
}

.input_form5{
  overflow: auto;
  border: none;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  margin-top: -3%;
  width: 580px;
  height: 270px;
}

.input_form5::placeholder{
  text-align: left;
  font-weight: bold;
  padding: 10px;
}

/* 스크롤바 설정*/
.input_form5::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
.input_form5::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: #5193F1;
  border-radius: 30px;  
}

/* 스크롤바 뒷 배경 설정*/
.input_form5::-webkit-scrollbar-track{
  background-color: #c8c8c9;
}

button{
    width:50px;
    height: 100%;
    border: solid #519310;
    background: #5193F1;
    outline: none;
    float: right;
    color: #ffffff
}

/*-----------------------------------------------------------------*/
/* 회원가입 페이지
/*-----------------------------------------------------------------*/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:"Do Hyeon";
  
  }
  
  
  .joinForm {
    position:absolute;
    width:400px;
    background-color: #ffffff;
    text-align:center;
    top:100px;
    left:39%;
    border-radius: 30px;
  }
  
  .joinForm h2 {
    text-align: center;
    margin: 30px;
  }
  
  .textForm {
    border: 3px solid #5193F1;
    top: 30%;
    left:50%;
    width:80%;
    margin: 30px;
  }

.form_text_alert_padding{
  padding-top: 50px;
}

.form_text_alert{
  text-align: left;
  font-weight: bold;
  margin-right: 180px;
  margin-left: 40px;
  width:300px;
  color: #ff0000;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #5193F1;
  background-color: #5193F1;
  color: #ffffff;
  /* padding: .375rem .75rem; */
  font-size: 1rem;
  width: 320px;
  height: 40px;
  margin-top: 4%;
  margin-left: 10%;
  margin-bottom: 5%;
  line-height: 1.5;
  border-radius: .60rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-weight:bold;
}

.anbtn {
  position:relative;
  left:47%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  width:80%;
  height:40px;
  background: #ffffff;
  border-radius: 6px;
  background-position: left;
  background-size: 200%;
  color:rgb(131, 126, 126);
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display: inside;
  margin-left: 3%;
}

  .btn-outline-dark {
    color: #212529;
    border-color: #212529;
  }
  .btn-outline-dark:hover {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
  }
  
  
  .btn:hover {
    background-position: right;
  }

  .subck{
    position: absolute;
    top:68px;
    width: 100%;
    height: 868px;
    background-color:#ececec;
    overflow: visible;
  }

  .control-label {
    padding-top:7px;
    margin-bottom: 0;
    text-align: left
  }

  .confetti{
    background-image:url('images/confetti.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:850px;
    /* margin-top: 70px; */
  }
/*-----------------------------------------------------------------*/
/* 로그인 페이지
/*-----------------------------------------------------------------*/

  .loginForm {
    position:absolute;
    width:400px;
    height: auto;
    background-color: #ffffff;
    top:100px;
    left:39%;
    border-radius: 30px;
  }

  .tx-tfm{
    text-transform:uppercase;
  }

  .mybtn{
    border-radius:50px;
  }

  .login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }

  .hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  form .error {
    color: #ff0000;
  }

  #second{
    display:none;
  }


/*-----------------------------------------------------------------*/
/* 프로필 작성 페이지
/*-----------------------------------------------------------------*/

.profileForm {
  position:relative;
  width:350px;
  background-color: #ffffff;
  font-weight: bold;
  top:100px;
  margin-left: 2.5%;
  left:39%;
  right: 40%;
  border-radius: 15px;
}
.btntool {
  position: relative;
  width: 250px;
  top: 120px;
  margin-left: 8.5%;
  left: 39%;
  /* style="position:absolute; top:300px; left:7%;" */
}

.btntool2 {
  position: relative;
  width: 250px;
  top: 341px;
  margin-left: 8.5%;
  left: 39%;
  /* style="position:absolute; top:300px; left:7%;" */
}

.btntool3 {
  position: relative;
  width: 250px;
  top: 471px;
  margin-left: 8.5%;
  left: 39%;
  /* style="position:absolute; top:300px; left:7%;" */
}

.btntool4 {
  position: relative;
  width: 250px;
  top: 100px;
  margin-left: 8.5%;
  left: 39%;
  /* style="position:absolute; top:300px; left:7%;" */
}

.btn2a {
  position:relative;
  width:63px;
  height: 45px;
  background: #ffffff00;
  border: solid;
  border-radius: 15px;
  color:#5193F1;
  font-weight: bold;
  }

.btna {
    position:relative;
    width:63px;
    height: 45px;
    background: #5193F1;
    border-radius: 15px;
    color:white;
    font-weight: bold;
    left:3%;
}

.btndone {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #5193F1;
  background-color: #5193F1;
  color: #ffffff;
  /* padding: .375rem .75rem; */
  font-size: 1rem;
  width: 280px;
  height: 40px;
  margin-top: 4%;
  margin-left: -28%;
  margin-bottom: 5%;
  line-height: 1.5;
  border-radius: .60rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-weight:bold;
}

#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: grey;
}

#myBar {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #5193F1;
}

input[type="checkbox"] {
  position:absolute;
  clip: rect(0,0,0,0);
}

input[type="checkbox"] + label::before {
  content: "\a0";
  display: inline-block;
  margin-top: 0.1em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  margin-bottom: 1.0em;
  width: 1.5em;
  height: 1.5em;
  color: white;
  border: 3px solid #5193F1;
  position: relative;
  top: -4px;
  text-align: left;
  font-size: 15px;
}

input[type="checkbox"]:checked + label::before {
  content: "\2714";
  background: #5193F1;
  text-indent: 0.4em;
}

.profile {
  overflow: auto;
  width: 100%;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  height: 310px;
}

.genprofile {
  overflow: auto;
  width: 100%;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  height: 130px;
}

.ageprofile {
  overflow: auto;
  width: 100%;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  height: 130px;
}

.interprofile {
  width: 100%;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  height: 310px;
}

/* 스크롤바 설정*/
.profile::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
.profile::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: #5193F1;
  border-radius: 30px;  
}

/* 스크롤바 뒷 배경 설정*/
.profile::-webkit-scrollbar-track{
  background-color: #c8c8c9;
}

.ageForm {
  position:absolute;
  width:350px;
  padding: 30px, 20px;
  height: 120px;
  background-color: #ffffff;
  text-align:left;
  top:160px;
  margin-left: 2.5%;
  left:48.1%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
}

.interForm {
  position: absolute;
  width: 650px;
  padding: 30px, 20px;
  height: 300px;
  background-color: #ffffff;
  text-align: left;
  top: 250px;
  margin-left: 2.5%;
  left: 48%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
}

.conmain {
  width:250px;
  height: 40px;
  background: #5193F1;
  border-radius: 15px;
  color:white;
  font-weight: bold;
  left:3%;
}

.anbtn {
  position:relative;
  left:47%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  width:80%;
  height:40px;
  background: #ffffff;
  border-radius: 6px;
  background-position: left;
  background-size: 200%;
  color:rgb(131, 126, 126);
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display: inside;
  margin-left: 3%;
}

.conprofile {
  /* left:30%; */
  width:250px;
  height: 40px;
  background: #ffffff00;
  border: solid;
  border-radius: 15px;
  color:#5193F1;
  font-weight: bold;
  /* top:630px; */
  }

  .navbar {
    position: relative;
    /* display: flex; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    width: auto;
    border-bottom: solid #5193F1 3px;
  }

  .py-5 {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5px !important;
    padding-bottom: 5rem !important;
  }

  .container {
    padding-left: 3rem;
    padding-right: 3rem !important;
    padding-top: 1rem !important;
    width: 800px;
  }

  .navcontainer {
    padding-top: 20px;
    float: right;
  }

.row {
  /* --bs-gutter-x: 1.5rem; */
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.justify-content-center {
  justify-content: center !important;
  padding-left: 5%;
}

.row > * {
  flex-shrink: 0;
  /* width: 100%; */
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.img {
  /* position:relative; */
  width:120px;
  height: 120px;
  border:solid #5193F1;
  border-radius: 15px;
  /* color:white;
  font-weight: bold;
  left:7%; */
} 

.img2 {
  /* position:relative; */
  width:230px;
  height: 230px;
  border:solid #5193F1;
  border-radius: 15px;
  /* color:white;
  font-weight: bold;
  left:7%; */
}

.prjimg {
  width:350px;
  height: 200px;
  border:solid #5193F1;
  border-radius: 20px;
  margin-bottom: 50px;
  z-index: 2;
}
.end {
  width:350px;
  height: 200px;
  border:solid #5193F1;
  border-radius: 20px;
  margin-bottom: 50px;
  background-image:url('images/complete.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}
.findprjname {
  font-weight:bold;
  font-size:16px;
  padding:20px;
  text-align:center;
  white-space: nowrap;
  word-break : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
}
.findprjcontent {
  padding-left:30px;
  padding-right:30px;
  height:60px;
  width:100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.detailbtn {
  width:180px;
  height: 40px;
  background: #5193F1;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.detailbtn2 {
  width:180px;
  height: 40px;
  background: #ffffff;
  border-radius: 10px;
  color:#5193F1;
  font-weight: bold;
  border:solid;
  margin-left: 60%;
  margin-top: -11.1%;
}

/*-----------------------------------------------------------------*/
/* 프로젝트찾기
/*-----------------------------------------------------------------*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
}
/* 탭 스타일 */
.tab_item {
  width: calc(100%/3);
  height: 35px;
  border-bottom: 3px solid #5193F1;
  background-color: #f8f8f8;
  line-height: 35px;
  font-size: 13px;
  text-align: center;
  color: #5193F1;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}
/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
  display: none;
}
/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}
/* 선택 된 탭 콘텐츠를 표시 */
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}
/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {
  background-color: #5193F1;
  color: #fff;
}

.form1 {
  width: 100%;
  background-color: #b4b4b4;
  border: 1px solid #b4b4b4;
  padding: 30px;
}

.chat {
  position:relative;
  width: 80px;
  height: 80px;
  border: solid #5193F1;
  border-radius: 15px;
  left: 5px;
  top: 15px;
  /* color:white;
  font-weight: bold;
  left:7%; */
}

.py-6 {
  padding-left: 1%;
  padding-right: 25%;
  padding-top: 5px !important;
  padding-bottom: 5rem !important;
}

.line {
  width: 98vw;
  border: solid 1px #969696;
  border-bottom: 0px;
  margin-left: 0px;
}

.container2 {
  padding-left: 3rem;
  padding-right: 3rem !important;
  padding-top: 1rem !important;
  width: 800px;
}

.form1 {
  width: 100%;
  background-color: #b4b4b4;
  border: 1px solid #b4b4b4;
  padding: 30px;
}

.chat {
  position:relative;
  width: 80px;
  height: 80px;
  border: solid #5193F1;
  border-radius: 15px;
  left: 5px;
  top: 15px;
  /* color:white;
  font-weight: bold;
  left:7%; */
}

.py-6 {
  padding-left: 1%;
  padding-right: 25%;
  padding-top: 5px !important;
  padding-bottom: 5rem !important;
}

.line {
  width: 98vw;
  border: solid 1px #969696;
  border-bottom: 0px;
  margin-left: 0px;
}

.container2 {
  padding-left: 3rem;
  padding-right: 3rem !important;
  padding-top: 1rem !important;
  width: 800px;
}

.date {
  position: absolute;
  font-weight: bold;
  color: #000000;
  left: 89%;
}

.prj {
  font-weight:bold;
  color: #5193F1;
}

.list {
  position:absolute;
  width: 80px;
  height: 25px;
  top: 5.2em;
  left: 1%;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  background-color: none;
}

.all {
  position:absolute;
  width:60px;
  height:25px;
  top: 5.8em;
  left: 88%;
  color: #000000;
  font-weight: bold;
  background-color: none;
}

.return {
  position:absolute;
  width:25px;
  height:25px;
  top: 5.8em;
  left: 90.8%;
  background-color: none;
}

.alarm {
  position:absolute;
  width:25px;
  height:25px;
  top: 5.8em;
  left: 93.3%;
  background-color: none;
}

.settings {
  position:absolute;
  width:25px;
  height:25px;
  top: 5.8em;
  left: 96%;
  background-color: none;
}
